// ==========================================================================
// Button Styles
// ==========================================================================

.project {
  .overlay {
    button {
      background-color: $button-details-color;
      color: whitesmoke;
      border: 1px solid whitesmoke;
      border-radius: .2em;
      padding: .2em;

      @include mq(tablet) {
        padding: .3em .4em;
      }
      @include mq(desktop) {
        padding: .3em .4em;
      }

      span {
        margin-right: -.3em;
      }
    }
  }
}