// ==========================================================================
// Image Styles
// ==========================================================================

.main-header {
  .logo {
    rect {
      fill: $color-main-bg-logo;
      @include mq(desktop) {
        fill: black;
        stroke: $color-main-nav-text;
        stroke-width: 2px;
      }
    }
    text {
      fill: $color-logo;
    }
    line {
      stroke: $color-logo;
    }

    @include mq(desktop) {
      margin-left: 30px;
      margin-top: 30px;
      transform: translateY(0px);
    }
  }
}

.project {
  > img {
    width: 100%;
  }
}

.home {
  img {
    border: 10px solid rgba(169, 169, 169, 0.3);
    border-radius: 50%;
    border-style: double;
    margin: .5em;
  }
}
