// ==========================================================================
// Navigation Styles
// ==========================================================================

.main-nav {
  transform: translateY(0px);
  @include mq(tablet) {
    transform: translateY(5px);
  }
  @include mq(desktop) {
    transform: translateY(20px);
    margin-left: auto;
    margin-right: 20px;
  }

  li {

    @include mq(tablet) {
      margin: 0 .5em;
    }

    a {
      border: 1px solid $color-main-nav-text;
      background-color: black;
      color: $color-main-nav-text;
      padding: .3em .5em;
      display: block;

      transition: color .5s, background-color .5s;
      &:hover {
        color: $color-main-nav-text-active;
        background: $color-main-nav-active-bg;      
      }

      @include mq(tablet) {
        width: 200px;
        padding: .5em 1em;
      }

      @include mq(desktop) {
        width: 190px;
        padding: .4em .4em;
      }
    }
  }
 

  ul {
    @include flex() {
      justify-content: space-evenly;
    }
  }
}

.main-nav-link-active {
  color: $color-main-nav-text-active !important;
  background-color: $color-main-nav-active-bg !important;
}

.projects {
  nav {

    a { 
      border-radius: 1em;
      margin-right: .5em;
      padding: .2em .4em;
      display: inline-block;
    }

    @include mq(tablet) {
      margin-bottom: 3em;

      ul {
        @include flex() {
          justify-content: center;
        }
      }
    }    
  }
}

.proj-nav-link-active {
  color: white;
  background: gray;
}