// ==========================================================================
// Variables
// ==========================================================================

// Font Stacks

$font-url--google        : 'https://fonts.googleapis.com/css?family=Raleway:400,500';
$font-family--primary    : 'Raleway', sans-serif;

// Colors

$color-logo : #d1d1d1;

$color-main-nav-active-bg   : rgba(177, 174, 81, .8);
$color-main-nav-text        : #DCD865;
$color-main-nav-text-active : #F3F3F3;

$color-primary             : black;
$button-details-color      : cadetblue;

// Background Colors
$color-main-bg-logo   : rgba(0, 0, 0, 0);
$color-main-bg        : rgba(0, 0, 0, 0.7);
$color-content-bg     : rgba(0, 0, 0, 0.5);

$color-header         : #44C8B6;

$color-paragraph      : lightgray;

// Breakpoints

$brkpoint--mobile    : 480px;
$brkpoint--tablet    : 768px;
$brkpoint--desktop   : 1024px;