// ==========================================================================
// Container Effects
// ==========================================================================

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .overlay {
    opacity: 0;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }
}

.home {
  .photos {
    tbody {
      border: 10px solid white;
    }
    td {
      border: 2px solid white;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-collapse: separate !important;
    border: 8px solid black;
    border-radius: .3em;
  }
}