// ==========================================================================
// Text Effects
// ==========================================================================

.contact {
  .links {
    label {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}

.contact {
  .links {

    li {
      &:hover {
        label {
          opacity: 1;
        }
      }
    }

  }
}